---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="flex flex-col gap-2 mx-auto mt-[50vh] text-center text-2xl inset-0"
  >
    <h1 class="text-7xl animate-shake">Diccionario tecnológico</h1>
    <p>Creado por <span class="font-bold">@JuanPDeveloper 😊</span></p>
    <p>&copy; 2025</p>
    <a
      href="/definiciones"
      class="bg-red-500 text-white p-2 text-2xl w-max m-auto rounded-lg"
      >Ir a las deficiones</a
    >
  </section>
</Layout>
