---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<title>Diccionario Informatico 💻</title>
		<script src="https://kit.fontawesome.com/caac178fdb.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Nav/>
		<slot />
	</body>
</html>

